/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#eee;
	--highlight-text: #f39200;
	--anchor-color: #0057a6;
	--color-background:#111;
	--nav-background: #1d1d22;
	--div-background: #393943;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

.white-blue-button {
	background-color: var(--color-text);
	color: var(--anchor-color);
	padding: 1em;
	border-bottom-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
	border-top-left-radius: 100rem;
	border-top-right-radius: 100rem;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

span {
	color: var(--highlight-text);
	font-weight: bold;
}

section, article, footer {
	margin-bottom: 5%;
	padding: 2%;
}



/* HEADER CSS */

header ul {
	display: flex;
	flex-direction: row;
	background-color: var(--nav-background) ;
	list-style: none;
	margin: 0;
	padding: 0;
}

header li	{
	display: flex;
	flex-grow: 1;
	list-style: none;
	justify-content: center;
	margin-top: 2%;
}

header li a {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

header img {
	height: 2em;
	width: 2em;
}

header li p {
	margin-top: .3em;
}



/* TEXT OVER IMAGE POSITIONING CSS */

#top-img {
	width: 100%;
  	height: 100%;
  	object-fit: cover;      /* ensures full cover while keeping ratio */
  	object-position: top;
	opacity: 80%;
}

.top-section {
	position: relative;
	width: 100%;
  	height: 400px; /* set desired fixed height */
  	overflow: hidden;
	/* background-image: url(../images/top-page-image.jpeg); */
}

.top-section h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
}

.top-section p {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.25em;
}

.top-section span {
	position: absolute;
	top: 74%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
}

.top-section a {
	position: absolute;
	top: 86%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* MAIN CSS */
/* CAROUSELs WITH ARTISTS (NEW & UPCOMING) */

#hidden-h1 {
	visibility: hidden;
	height: 0;
	width: 0;
}

section:first-of-type {
	padding: unset;
	margin-bottom: unset;
}

.artists-carousel {
	display: flex;
	flex-direction: column;
}

.artists-carousel ul {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	margin: 0;
	gap: 1em;
}

.artists-carousel li {
	width: 250px;
}

.artists-carousel a img {
	border-radius: 20%;
	width: 250px;
	object-fit: cover;
	object-position: center;
	opacity: 59%;
}

.artists-carousel-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.artists-carousel-item span {
	position: absolute;
	top: 65%;
	left: 5%;
}

.artists-carousel-item h3 {
	position: absolute;
	top: 66%;
	left: 5%;
	font-size: 100%;
}

.artists-carousel-item p {
	position: absolute;
	top: 75%;
	left: 5%;
}

/* ARTICLE FOR FEATURED CAROUSEL (3 ITEMS) */

article h2 {
	text-align: center;
}

article div {
	display: flex;
	flex-direction: column;
	background-color: var(--div-background);
	padding: 2%;
}

/* OUR FAVORITES SECTION */

.our-favorites {
	background-color: var(--div-background);
	border-radius: 5%;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.our-favorites ul {
	display: flex;
	flex-direction: column;
}

.our-favorites li {
	display: flex;
	flex-direction: row;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 120px;
}

.our-favorites img {
	max-width: 25%;
	margin-right: 2%;
	border-radius: 8%;
	object-fit: cover;
  	object-position: center;
}

.our-favorites div {
	padding: 1%;
}

.our-favorites p {
	margin-top: 0;
	font-size: 1.3em;
}

.our-favorites a {
	background-color: var(--color-text);
	color: var(--anchor-color);
	padding: 5%;
	border-bottom-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
	border-top-left-radius: 100rem;
	border-top-right-radius: 100rem;
}

/* INFO PAGE CSS*/

video {
	width: 100%;
}


/* FOOTER CSS */

footer {
	display: flex;
	flex-direction: column;
}

footer div {
	display: flex;
	flex-direction: row;
}

footer div img {
	max-width: 15vw;
}



@media only screen and (min-width: 850px) {
	.top-section h2, .top-section p, .top-section span, .top-section a {
		left: 10%;
	}

	.our-favorites ul {
	display: flex;
	flex-direction: row;
  }

  .our-favorites img {
	min-width: 12vw;
  }
}