/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#eee;
	--highlight-text: #f39200;
	--anchor-color: #0057a6;
	--color-background:#111;
	--nav-background: #1d1d22;
	--div-background: #393943;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	font-family: 'Open Sans';
}

h1, h2, h3, h4 {
	font-family: 'Poppins';
}

a {
	text-decoration: none;
	color: var(--color-text);
}

.white-blue-button {
	background-color: var(--color-text);
	color: var(--anchor-color);
	padding: 1em;
	border-bottom-left-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-bottom-right-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-top-left-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-top-right-radius: 100rem; /* Code van Ziggo Dome pagina */
}

.yellow-black-button {
	background-color: none;
	color: var(--color-text);
	padding: 1em;
	border: var(--highlight-text) 3px solid;
	border-bottom-left-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-bottom-right-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-top-left-radius: 100rem; /* Code van Ziggo Dome pagina */
	border-top-right-radius: 100rem; /* Code van Ziggo Dome pagina */
	width: max-content;
	height: max-content;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

span {
	color: var(--highlight-text);
	font-weight: bold;
}

section, footer {
	margin-bottom: 10%;
	padding: 2%;
}

#ziggo-dome-bottom-image {
	width: 84px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}



/* HEADER CSS */
header nav {
  	position: fixed; /* Code van ChatGPT */
  	top: 0;
  	left: 0;
  	width: 100%;
	z-index: 1000; /* Code van ChatGPT */
}

header ul {
	display: flex;
	margin-right: 1em;
}

header li {
	margin-left: 2em;
	margin-top: 2em;
}

header li:first-of-type {
	margin-right: auto;
}

header img {
	width: 40px;
}

header div {
	display: none;
  	position: absolute;
	z-index: 1;
}

.dropdown-menu {
  	position: relative; /* Code van ChatGPT */
}

.dropDown {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--nav-background);
	width: 100vw;
	flex-direction: column;
}

.dropDown a {
	display: flex;
	flex-direction: row;
	padding: 1.5em;
}

.dropDown a:first-of-type {
	width: max-content;
	margin-left: auto;
}

.dropDown svg {
	margin-top: .6em;
	margin-right: .7em;
}



/* TEXT OVER IMAGE POSITIONING CSS */
#top-img {
	width: 100%;
  	height: 100%;
  	object-fit: cover; /* Code van ChatGPT */
  	object-position: top; /* Code van ChatGPT */
	opacity: 80%;
}

.top-section {
	position: relative; /* Code van W3Schools */
	width: 100%;
  	height: 400px;
  	overflow: hidden;
	padding: 0;
}

.top-section h2 {
	position: absolute; /* Code van W3Schools */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Code van W3Schools */
	font-size: 3em;
}

.top-section h3 {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100%;
	font-weight: lighter;
}

.top-section p {
	position: absolute;
	top: 71%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
}

.top-section a {
	position: absolute;
	top: 86%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* MAIN CSS */
#hidden-h1 {
	visibility: hidden;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
}


/* CAROUSELs WITH ARTISTS (NEW & UPCOMING) */
.artists-carousel {
	display: flex;
	flex-direction: column;
}

.artists-carousel h2 {
	margin-left: 4%;
}

.artists-carousel ul {
	display: flex;
	flex-direction: row;
	overflow-x: auto; /* Code van CodePen */
	margin-left: 5%;
	gap: 0.5em;
}

.artists-carousel li {
	width: 250px;
	height: 355px;
}

.artists-carousel a img {
	border-radius: 5%;
	width: 250px;
	height: 350px;
	object-fit: cover; /* Code van ChatGPT */
	object-position: center; /* Code van ChatGPT */
	opacity: 59%;
}

.artists-carousel-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.artists-carousel-item p span {
	position: absolute;
	top: 70%;
	left: 5%;
	font-size: .8em;
}

.artists-carousel-item h3 {
	position: absolute;
	top: 70%;
	left: 5%;
	font-size: 1.2em;
}

.artists-carousel-item p:last-of-type {
	position: absolute;
	top: 80%;
	left: 5%;
	font-size: .8em;
}


/* ARTICLE FOR FEATURED CAROUSEL (3 ITEMS) */
.featured-section {
	margin: 10%;
}

.featured-section h2 {
	text-align: center;
	display: block;
	width: 100%;
}

.featured-section div {
	display: flex;
	flex-direction: column;
	background-color: var(--div-background);
	padding: 8%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}

.featured-section p:first-of-type {
	margin-bottom: 0;
}

.featured-section h3 {
	margin: 0;
	font-weight: bold;
	font-size: 1.7em;
}

.featured-section img {
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	width: 100%;
}


/* OUR FAVORITES SECTION */
.our-favorites {
	background-color: var(--div-background);
	border-radius: 5%;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	height: 650px;
}

.our-favorites h2 {
	margin-top: 0;
}

.our-favorites ul {
	display: flex;
	flex-direction: column;
}

.our-favorites li {
	display: flex;
	flex-direction: row;
	margin-top: .5em;
	margin-bottom: 2em;
	height: 133px;
	border-top: grey 1px solid;
}

.our-favorites li:first-of-type {
	border-top: unset;
}

.our-favorites img {
	height: 132px;
	width: 106px;
	margin-right: 2%;
	border-radius: 8%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.our-favorites div {
	padding: 1%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.our-favorites p {
	margin-top: 0;
	font-size: 1.3em;
}

.our-favorites a {
	background-color: var(--color-text);
	color: var(--anchor-color);
	padding: 5%;
	border-bottom-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
	border-top-left-radius: 100rem;
	border-top-right-radius: 100rem;
}

/* BOTTOM DISCOVER SECTION */
.bottom-discover-section {
	padding: 0;
	position: relative;
}

.bottom-discover-section div {
	padding: 2%;
}

.bottom-discover-section .white-blue-button {
	position: absolute;
	right: 3%;
	bottom: 1%;
}

.bottom-discover-section video {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
}


/* INFO PAGE CSS*/
/* VIDEO INTRO SECTION */
.top-section-discover {
	position: relative;
	margin: 0;
	padding: 0;
}

.top-section-discover h2 {
	position: absolute;
	top: 51%;
	left: 10%;
}

.top-section-discover p {
	position: absolute;
	top: 60%;
	left: 10%;
}

.top-section-discover a {
	position: absolute;
	top: 84%;
	left: 10%;
}

.top-section-discover video {
	width: 100%;
	height: 550px;
	object-fit: cover;
}


/* REACHABILITY SECTION */
.info-reachability-section {
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin: .5em;
}

.info-reachability-section h2 {
	display: block;
	width: 100%;
}

.info-reachability-section img {
	width: 100%;
	border-radius: 2.4rem;
	padding: .1em;
	object-fit: cover;
	height: 250px;
}

.info-reachability-section div {
	padding: .3em;
}

.info-reachability-section ul, .info-important-section ul, .info-experience-section ul:last-of-type {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.info-reachability-section li, .info-important-section li, .info-experience-section ul:last-of-type li { /* Code van CodePen */
	margin-right: 1em;
}


/* INFO IMPORTANT SECTION */
.info-important-section a {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--nav-background);
	border-radius: 24px;
	padding: 1.5em;
	margin: .5em;
}

.info-important-section h3, .info-around-section h3 {
	margin: 0;
	margin-left: .3em;
	margin-top: .1em;
}


/* INFO IN & AROUND SECTION */
.info-around-section a {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--nav-background);
	border-radius: 24px;
	margin: .5em;
}

.info-around-section div {
	width: 100%;
}

.info-around-section img {
	width: 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}

.info-around-section div:nth-of-type(2), .info-around-section div:nth-of-type(3), .info-around-section div:nth-of-type(4) {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5em;
}


/* INFO EXPERIENCE SECTION */
.info-experience-section a {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--nav-background);
	border-radius: 24px;
	margin: .5em;
	padding: .5em;
}

.info-experience-section ul:first-of-type {
	display: flex;
	flex-wrap: wrap;
}

.info-experience-section ul:first-of-type li {
	display: flex;
	flex-basis: 50%;
}

.info-experience-section img {
	width: 100%;
	border-radius: 10%;
	padding: .3em;
}

.info-experience-section p, .info-experience-section ul:last-of-type {
	padding: .7em;
}



/* FOOTER CSS */
footer {
	display: flex;
	flex-direction: column;
}

footer ul {
	margin-bottom: 2em;
}

footer nav {
  	position: fixed; /* Code van ChatGPT */
  	bottom: 0;
  	left: 0;
  	width: 100%;
	z-index: 1000; /* Code van ChatGPT */
}

footer nav ul {
	display: flex;
	flex-direction: row;
	background-color: var(--nav-background) ;
	margin: 0;
	padding: 0;
}

footer nav li {
	display: flex;
	flex-grow: 1;
	list-style: none;
	justify-content: center;
	margin-top: .5em;
}

footer nav li a {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

footer nav li p {
	margin-top: .1em;
}

.footer-list-one li {
	margin-bottom: 1em;
	margin-left: 1em;
}

.footer-list-one a {
	font-size: 1.4em;
	font-weight: bold;
}

.footer-social-links {
	display: flex;
	flex-direction: row;
	margin-top: 3em;
	margin-bottom: 5em;
	gap: 1em;
}

.footer-list-two {
	margin-bottom: 3em;
	margin-left: 1em;
}

.footer-list-two a {
	font-size: 1.2em;
}

.footer-sponsors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-bottom: 6em;
	gap: 2em;
}

.footer-sponsors img {
	max-height: 30px;
}



/* MEDIA QUERIES*/
@media only screen and (min-width: 540px) { /* Code van W3Schools */
	.top-section-discover p {
		width: 60%;
	}
}


@media only screen and (min-width: 850px) { /* Code van W3Schools */
	.top-section h2, .top-section h3, .top-section p, .top-section a {
		left: 10%;
	}

	.our-favorites {
		height: max-content;
		border-bottom-left-radius: 2em;
		border-bottom-right-radius: 2em;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
	}

	.our-favorites ul {
		display: flex;
		flex-direction: row;
  	}

	.our-favorites li {
		border-top: unset;
	}

 	.our-favorites img {
		min-width: 12vw;
  	}

	.top-section-discover p {
		width: 40%;
	}

	.featured-section a, .info-reachability-section a {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.featured-section div {
		width: 50%;
		border-top-right-radius: unset;
		border-bottom-left-radius: 2em;
	}

	.featured-section img {
		width: 50%;
		border-top-right-radius: 2em;
		border-bottom-left-radius: unset;
	}


	/* INFO PAGE */
	.info-reachability-section, .info-important-section, .info-around-section, .info-experience-section {
		margin: 4em;
	}

	.info-reachability-section div {
		width: 50%;
	}

	.info-around-section a {
		display: flex;
		flex-direction: row;
	}

	.info-around-section div {
		width: 50%;
	}

	.info-around-section img {
		height: 100%;
		border-top-right-radius: unset;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
	}

	.info-around-section:nth-of-type(8) img, .info-around-section:last-of-type img {
		border-bottom-left-radius: unset;
	}

	.info-experience-section a {
		display: flex;
		flex-direction: row;
	}

	.info-experience-section ul:first-of-type {
		width: 100%;
	}

	.info-experience-section ul:first-of-type li {
		flex-basis: 25%;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--color-text);
		color: var(--color-background);
	}

	h3, p, a {
		color: var(--color-background);
	}

	header p {
		color: var(--highlight-text);
	}

	.top-section p, .top-section h2, .top-section h3 {
		color: var(--color-text);
	}

	#top-img {
		opacity: unset;
	}

	.artists-carousel-item a img {
		opacity: 70%;
	}

	.artists-carousel a p {
		font-weight: bold;
	}

	.featured-section h3, .featured-section p {
		color: var(--color-text);
	}

	.our-favorites h2, .our-favorites div p {
		color: var(--color-text);
	}

	.top-section-discover h2, .top-section-discover p {
		color: var(--color-text);
	}

	.info-reachability-section .yellow-black-button {
		color: var(--color-background);
	}

	.info-important-section a, .info-around-section a, .info-experience-section a {
		background-color: var(--div-background);
	}

	.info-important-section h3, .info-important-section p {
		color: var(--color-text);
	}

	.info-around-section h3, .info-around-section p {
		color: var(--color-text);
	}

	.info-experience-section p {
		color: var(--color-text);
	}

	svg, footer li p {
		color: var(--highlight-text);
	}

	.footer-social-links svg, .footer-sponsors svg {
		color: unset;
	}
}